<app-menu></app-menu>

<div class="container-fluid dashboard-container">
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm p-3 h-100">
        <h4 class="text-center mb-3">Training Session Stats For This Month</h4>
        <div class="session-stats">
          <div class="stat-item yellow">
            <h6>Total Sessions</h6>
            <p>{{totalSessionsActualMonth}}</p>
          </div>
          <div class="stat-item green">
            <h6>Executed Sessions</h6>
            <p>{{totalExecutedSessionsActualMonth}} ({{percentActualMonthExecuted}}%)</p>
          </div>
          <div class="stat-item red">
            <h6>Missed Sessions</h6>
            <p>{{totalNotExecutedSessionsActualMonth}} ({{percentActualMonthNotExecuted}}%)</p>
          </div>
        </div>

        <h4 class="text-center mb-3">All Time Sessions Stats</h4>
        <div class="session-stats">
          <div class="stat-item yellow">
            <h6>Total Sessions</h6>
            <p>{{totalAllTimeSessions}}</p>
          </div>
          <div class="stat-item green">
            <h6>Executed Sessions</h6>
            <p>{{totalAllTimeExecutedSessions}} ({{percentAllTimeExecuted}}%)</p>
          </div>
          <div class="stat-item red">
            <h6>Missed Sessions</h6>
            <p>{{totalAllTimeNotExecutedSessions}} ({{percentAllTimeNotExecuted}}%)</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm p-3 h-100">
        <h4 class="text-center mb-3">Training Stats Analysis</h4>
        <!-- Conteúdo da análise de estatísticas de treinamento -->
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm p-3 h-100">
        <h4 class="text-center mb-3">Workout Programs</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let program of ''">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
