<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/personaltrainer/dashboard">
      <img src="assets/images/logo2.png" alt="logo pts">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/personaltrainer/dashboard" routerLinkActive="active-link" >
            <i  class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/personaltrainer/clients" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-user-friends"></i>&nbsp;My Clients
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/personaltrainer/workout-sessions" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-dumbbell"></i>&nbsp;My Workout Sessions
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center ms-auto" role="search">

        <input *ngIf="isMyClientsRoute" class="form-control" type="search" placeholder="Find a client"
        aria-label="Search">
        <button *ngIf="isMyClientsRoute" class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>

        <div class="user-photo">
          <a class="button-edit-photo" (click)="showDialog()">
            <div class="image-wrapper mx-2">
              <img [src]="userPhotoUrl ? userPhotoUrl : 'assets/images/logo2.png'" alt="User Photo" class="user-photo">
              <span class="edit-icon"><i class="fas fa-pen"></i></span>
            </div>
          </a>
        </div>

        <div class="name-container" (mouseenter)="showEditOption = true" (mouseleave)="showEditOption = false">
          Welcome,<span class="text-capitalize fw-bold">{{ firstName }}</span>
          <button class="btn btn-primary btn-sm edit-button" *ngIf="showEditOption" (click)="editData()">Edit Data</button>
       </div>

        <button class="btn btn-link" type="submit" (click)="logout()"><i class="fas fa-door-open"></i></button>
      </form>
    </div>
  </div>
</nav>

<p-dialog header="Edit Photo" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="flex align-items-center gap-3 mb-5">
    <label for="photo" class="font-semibold w-6rem">Photo</label>
    <input type="file" id="photo" (change)="onFileSelected($event)" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible = false"></p-button>
    <p-button label="Save" (click)="updatePhoto()"></p-button>
  </div>
</p-dialog>
