<app-menu></app-menu>

<div class="container-fluid dashboard-container">
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <app-workoutsessionsstats [clientId]="clientId"></app-workoutsessionsstats>
    </div>

    <div class="col-md-4 mb-4">
      <app-trainingindicativestats [clientId]="clientId"></app-trainingindicativestats>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm p-3 h-100">
        <h4 class="text-center mb-3">Workout Programs</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let program of ''">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
