<app-menu></app-menu>

<h2 class="client-name text-center mt-4">{{client.fullName}}</h2>

<div class="container-fluid dashboard-container">
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <app-workoutsessionsstats [clientId]="clientId"></app-workoutsessionsstats>
    </div>

    <div class="col-md-4 mb-4">
      <app-trainingindicativestats [clientId]="clientId"></app-trainingindicativestats>
    </div>

    <div class="col-md-4 mb-4">
      <app-workoutprogramslist [clientId]="clientId"></app-workoutprogramslist>
    </div>
  </div>
</div>

<app-footer></app-footer>
