<app-menu></app-menu>

<p-toast></p-toast>

<h4 class="client-name text-center mt-4">{{client.fullName}}</h4>

<div class="container-fluid dashboard-container">
  <div class="row mt-4">
    <div class="col-md-12">
      <!-- Tabs navigation -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="sessions-and-programs-tab" data-bs-toggle="tab" data-bs-target="#sessions-and-programs" type="button" role="tab" aria-controls="sessions-and-programs" aria-selected="true">Sessions and Programs</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="cooper-tests-tab" data-bs-toggle="tab" data-bs-target="#cooper-tests" type="button" role="tab" aria-controls="cooper-tests" aria-selected="false">Cooper Tests</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="strength-tests-tab" data-bs-toggle="tab" data-bs-target="#strength-tests" type="button" role="tab" aria-controls="strength-tests" aria-selected="false">Strength Tests</button>
        </li>
      </ul>

      <!-- Tabs content -->
       <!-- Workout Session -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sessions-and-programs" role="tabpanel" aria-labelledby="sessions-and-programs-tab">
          <div class="row mt-4">
            <div class="col-md-4 mb-4">
              <app-workoutsessionsstats [clientId]="clientId"></app-workoutsessionsstats>
            </div>
            <div class="col-md-4 mb-4">
              <app-trainingindicativestats [clientId]="clientId"></app-trainingindicativestats>
            </div>
            <div class="col-md-4 mb-4">
              <app-workoutprogramslist [clientId]="clientId"></app-workoutprogramslist>
            </div>
          </div>
        </div>

        <!-- Cooper Test -->
        <div class="tab-pane fade" id="cooper-tests" role="tabpanel" aria-labelledby="cooper-tests-tab">
          <div class="row mt-4">
            <div class="col-md-4 mb-4">
              <app-cooper-result [clientId]="clientId"></app-cooper-result>
            </div>
            <div class="col-md-4 mb-4">
              <app-cooper-test [clientId]="clientId"></app-cooper-test>
            </div>
            <div class="col-md-4 mb-4">
              <app-cooper-historic [clientId]="clientId"></app-cooper-historic>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="strength-tests" role="tabpanel" aria-labelledby="strength-tests-tab">
          <div class="row mt-4">
            <div class="col-md-4 mb-4">
              strength test
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
