body {
  background-color: #ffffff; /* Background branco */
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  margin-top: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1.5px solid #bdc3c7; /* Borda mais grossa */
}

.card h4 {
  color: #2c3e50;
  font-size: 1rem; /* Tamanho de fonte reduzido */
  font-weight: bold;
}

.card h6 {
  font-size: 1.0rem;
}

.card p {
  color: #34495e;
  font-size: 0.9rem; /* Tamanho de fonte reduzido */
}

.upcoming-sessions h5 {
  color: #2c3e50;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.list-group-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
}

.list-group-item h6 {
  color: #34495e;
  margin-bottom: 5px;
}

.list-group-item p {
  color: #7f8c8d;
  margin-bottom: 5px;
}

.list-group-item .btn {
  background-color: #3498db;
  border-color: #3498db;
}

.list-group-item .btn:hover {
  background-color: #2980b9;
}

.podium {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 20px;
}

.podium-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background: #ecf0f1;
  border-radius: 10px;
  width: 100px; /* Aumenta a largura */
  height: 130px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Elegância adicional */
}

.podium-step i {
  font-size: 1.5rem; /* Ícones menores */
  position: absolute;
  top: 10px; /* Move ícones mais para cima */
}

.podium-step p {
  font-size: 1rem; /* Texto menor */
  margin-top: auto; /* Empurra o texto para baixo */
}

.podium-first {
  background: #ffd21c; /* Cor mais suave */
}

.podium-first p {
  margin-top: 5px; /* Move o texto para cima */
}

.podium-second {
  background: #d6dbdf; /* Cor mais suave */
  height: 110px;
}

.podium-third {
  background: #ffb74a; /* Cor mais suave */
  height: 90px;
}

.podium-third p {
  margin-top: 15px; /* Move o texto para baixo */
}

.btn {
  font-size: 1rem; /* Tamanho de fonte reduzido */
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0; /* Adiciona margem acima e abaixo dos botões */
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.row.mb-5 {
  margin-bottom: 5rem; /* Espaçamento adicional para o footer */
}

.row.mt-4 {
  margin-top: 2rem; /* Ajusta o espaçamento superior entre as seções */
}

.session-list {
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

