body {
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.dashboard-container {
  margin-top: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1.5px solid #bdc3c7;
}

.card h4 {
  color: #2c3e50;
  font-size: 1rem;
  font-weight: bold;
}

.card h6 {
  font-size: 1.0rem;
}

.card p, a {
  color: #34495e;
  font-size: 0.9rem;
}

.list-group-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
}

.list-group-item h6 {
  color: #34495e;
  margin-bottom: 5px;
}

.list-group-item p {
  color: #7f8c8d;
  margin-bottom: 5px;
}

.row.mb-5 {
  margin-bottom: 5rem;
}

.session-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.workout-programs-list {
  max-height: 230px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Permitir scroll vertical */
}

