/* account-activation.component.css */

.container {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 25%, #3b6978 50%, #6a9c78 75%, #a1e3b5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activation-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: rgb(156, 0, 0);
}

.btn-primary {
  background: #3498db; /* Blue button */
  border-color: #3498db;
  border-radius: 5px;
}

.btn-primary:hover {
  background: #2980b9; /* Darker blue on hover */
}
