<app-menu></app-menu>

<div class="container-fluid mt-4 mb-4">
  <div class="card shadow-sm p-3 h-100">
    <div class="clients">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">{{ showDisabledClients ? 'Deactivated Clients' : 'Active Clients' }}</h4>
        <button class="btn btn-primary btn-sm" (click)="toggleClientList()">
          {{ showDisabledClients ? 'Show Active Clients' : 'Show Deactivated Clients' }}
        </button>
      </div>
      <ul class="list-group session-list">
        <li class="list-group-item" *ngFor="let client of clients">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-start">
              <div class="client-photo">
                <img [src]="client.photo ? client.photo : 'assets/images/logo2.png'" alt="clientPhoto">
              </div>
              <div class="client-details ms-4">
                <h6>
                  Name: <a (click)="redirectClientPage(client.id)" style="cursor: pointer;"><strong>{{client.fullName}}</strong></a> / Id: {{client.id}}
                </h6>
                <p>Mobile: {{client.mobile}}</p>
                <p [class.enabled-true]="client.enabled" [class.enabled-false]="!client.enabled">
                  {{ client.enabled ? "Enabled" : "Disabled" }}
                </p>
              </div>
            </div>

            <div class="client-actions-1">
              <button class="btn btn-primary btn-blue btn-sm mb-2" (click)="editClient(client.id)">
                <i class="fas fa-user-edit"></i> Edit
              </button>
              <button class="btn btn-success btn-sm btn-green mb-2" (click)="changeStatus(client.id)">
                <i class="fas fa-check-double"></i> Change status
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
