body {
  background-color: #ffffff; /* Background branco */
  font-family: 'Arial', sans-serif;
}

.btn-blue {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-ligth-green{
  background-color: #9bffb9;
  border-color: #d8ffe4;
  color: black;
}



.btn-green {
  background-color: #5aa266;
  border-color: #5aa266;
}

.clients-container {
  margin-top: 20px; /* Espaçamento superior */
  margin-bottom: 20px; /* Espaçamento inferior */
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1.5px solid #bdc3c7; /* Borda mais grossa */
  max-height: 800px; /* Define a altura máxima do card */
  overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

.card h4 {
  color: #2c3e50;
  font-size: 1rem; /* Tamanho de fonte reduzido */
  font-weight: bold;
}

.session-list {
  max-height: 800px; /* Define a altura máxima da lista de clientes */
  overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

.client-photo img {
  max-width: 100px; /* Define a largura máxima da imagem */
  border-radius: 30%; /* Faz a imagem ficar circular */
}

.client-details {
  flex-grow: 1; /* Permite que a seção de detalhes ocupe o espaço restante */
  margin-left: 20px; /* Espaçamento adicional entre a foto e os detalhes */
}

.client-actions {
  margin-left: 20px; /* Espaçamento adicional entre os dados e os botões */
}

.vertical-line {
  border-left: 1px solid #bdc3c7;
  height: 100%;
  margin-right: 20px; /* Espaçamento à direita da linha divisória */
}

.enabled-true {
  color: #5aa266; /* Verde para habilitado */
  font-weight: bold;
}

.enabled-false {
  color: #e74c3c; /* Vermelho para desabilitado */
  font-weight: bold;
}
