<app-menu></app-menu>
<div class="container-fluid dashboard-container">
  <div class="row mt-4">
    <!-- Calendar and Workout Sessions Summary -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3 h-100">
        <div class="upcoming-sessions">
          <h4 class="text-center mb-3">Upcoming Workout Sessions</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let session of upcomingSessions">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h6>Date: {{session.sessionDate}} / Time: {{session.sessionTime}}</h6>
                  <p>Client: {{session.clientName}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3 h-100">
        <h4 class="text-center mb-3">Monthly Workout Summary</h4>
        <p class="text-center display-4">
          <i class="fas fa-dumbbell"></i>
          <span id="totalessionsPerMonth">&nbsp;{{totalSessionsPerMonth}}</span> Total Sessions
        </p>
        <p class="text-center display-4">
          <i class="fas fa-check"></i>
          <span id="totalExecutedSessionsPerMonth">&nbsp;{{totalExecutedSessionsPerMonth}}</span> Excuted Sessions
        </p>
        <p class="text-center display-4">
          <i class="fas fa-xmark"></i>
          <span id="totalExecutedSessionsPerMonth">&nbsp;{{totalNotExecutedSessionsPerMonth}}</span> Not Excuted Sessions
        </p>
        <div class="podium">
          <div class="podium-step podium-first">
            <i class="fas fa-trophy"></i>
            <p id="firstPlaceClient">{{firstPlaceClient}}<br>({{firstPlaceSessions}} s)</p>
          </div>
          <div class="podium-step podium-second">
            <i class="fas fa-medal"></i>
            <p id="secondPlaceClient">{{secondPlaceClient}}<br>({{secondPlaceSessions}} s)</p>
          </div>
          <div class="podium-step podium-third">
            <i class="fas fa-award"></i>
            <p id="thirdPlaceClient">{{thirdPlaceClient}}<br>({{thirdPlaceSessions}} s)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Action Buttons -->
  <div class="row mt-4 mb-5">
    <div class="col-12">
      <div class="card shadow-sm p-3">
        <h4 class="text-center mb-4">Actions</h4>
        <div class="d-flex justify-content-around">
          <button class="btn btn-primary" (click)="createClient()">
            <i class="fas fa-user-plus"></i> Register Client
          </button>
          <button class="btn btn-primary">
            <i class="fas fa-calendar-plus"></i> Create Workout Session
          </button>
          <button class="btn btn-primary">
            <i class="fas fa-clipboard-list"></i> Create Workout Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
